# Ignorar archivos sensibles
terraform.tfvars
*.tfstate
*.tfstate.backup
.crash
.terraform/
.terraform.lock.hcla

# Terraform plan files
*.tfplan

# IDE/editor-specific files (opcional)
.vscode/
.idea/
*.swp
